.item{
  padding: 20px;
  border-color:#e4bad4;
  border-style: solid;
  width: 40%;
  height: 90%;
  margin: 10px;
background: radial-gradient(white, #f6dfeb);
}
.cart h1{
color: #bf1363;
font-size: 30px;
}
.cart{
  padding: 50px;

}
.item img{
  max-width: 260px;

}
